
<section class="todoapp">
  <header class="header">
    <h1>Share Your List</h1>
    <input class="new-todo" placeholder="Share with the following users..." autofocus="">
  </header>
  <section class="main">
    <ul class="todo-list">
      <%@users.each do |user|%>
      <li class="completed">
       <div class="view">
         <%= form_for(@shared_list) do |f| %>
           <%= f.check_box :completion, :class => "toggle", :checked => true %>
         <% end %>
         <label><%=user.username%></label>
       </div>
     </li>
     <%end%>
   </ul>

  </section>

  <footer class="footer" style="display: block;">
  				<span class="todo-count">Shared with <%=pluralize(@list.users.count, 'user')%></span>
  				<ul class="filters">
  					<li>
  						<a href="/lists">Back to Your Lists</a>
  					</li>

  					<li>
  						<a href="/sessions/logout">Logout</a>
  					</li>
  				</ul>
  				<button class="clear-completed" style="display: none;"></button>
  			</footer>
</section>
